//cleanUp
@use "../../resources/scss/cleanUp/cleanUp";

//abstracts
@use "../../resources/scss/abstracts/colors";
@use "../../resources/scss/abstracts/fonts";
@use "../../resources/scss/abstracts/elements";

//JMSoft
@use "../../resources/scss/JMSoft/JMSoft";

//components
@use "../../resources/scss/components/sliders";
@use "../../resources/scss/components/roadmap";

//pages
@use "../../resources/scss/pages/home";

$font-size-base: 12px;
$h1-font-size: 36px;
$h2-font-size: 30px;
$h3-font-size: 24px;
$h4-font-size: 20px;
$h5-font-size: 18px;
$h6-font-size: 16px;
$font-weight-base: 400;
$font-family-sans-serif: "Segoe UI", Arial, sans-serif;
$text-color: colors.$primary-color;
